MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=diabecare
JWT_SECRET_KEY=

# TalkSasa SMS
TALKSASA_URL=https://bulksms.talksasa.com/api/v3/sms/send
TALKSASA_API_KEY=
TALKSASA_SENDER_ID=

SMS_ENABLED=true

# Default admin seed (first startup only)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@diabecare.com
ADMIN_PASSWORD=
ADMIN_FULLNAME=System Administrator